/*-- scss:defaults --*/

// colors
$body-bg: #FAFAFAFF;
$body-color: #3B4569FF;
$link-color: #0039A7FF;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif;
$presentation-heading-color: #5968A2FF;

// text
$presentation-font-size-root: 35px;
$presentation-font-smaller:	0.8;


